.App {
  font-family: sans-serif;
  text-align: left;
}

h2 {
  font-size: 18px;
}

span {
  font-size: 13px;
}

.one {
  font-size: 40px;
}

ul {
  list-style: none;
  display: flex;
}

button.cur {
  background-color: blue;
  cursor: pointer;
}

button.sea {
  background-color: goldenrod;
  cursor: pointer;
}
